.fire-border {

    border-color: #ce5f1a;

}

.fire-color {

    color: #ce5f1a;

}
.grass-border {

    border-color: #7EC6C5;

}

.grass-color {

    color: #7EC6C5;

}

.water-border {

    border-color: #133258;

}

.water-color {

    color: #133258;

}
.bug-border {

    border-color: #62DB60;

}

.bug-color {

    color: #62DB60;

}
.normal-border {

    border-color: #735259 ;

}

.normal-color {

    color: #735259 ;

}
.fighting-border {

    border-color: #BF9230 ;

}

.fighting-color {

    color: #BF9230 ;

}