@import url(./BorderAndColors.css);

.pokecard__container{
   
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.pokecard {
    width: 100%;
    max-width: 350px;
    border-radius: 0.7em;
    border: 0.7em solid #ccc;
    cursor: pointer;
    transition: transform 150ms ease;
    margin-bottom: 1em;
    margin-top: 1em;
    box-shadow: 6px 6px 6px gray;

}

.pokecard:hover {
    transform: scale(1.03);
}

.pokecard__header {
    background: #ccc;
    aspect-ratio: 2;
    position: relative;
}

.pokecard__image {
    position: absolute;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
    top: 1.5em;
}

.pokecard__body {
    padding: 3.5em 1em 2em;
}

.pokecard__name {
    text-align: center;
    text-transform: capitalize;
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 0.2em;
}

.pokecard__types {
    display: flex;
    justify-content: center;
    gap: 0.7em;
    margin-bottom: 1em;
}

.pokecard__typename {
    text-transform: capitalize;

}

.pokecard__typename:nth-child(2)::before {
    content: '/';
    padding-right: 0.7em;


}

.pokecard__hr {
    margin-bottom: 1em;
    border: 1px solid #ccc4;
}

.pokecard__stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 1.5em 0.2em;
}

.pokecard__stat {
    display: grid;
    gap: 0.5em;
    justify-items: center;

}

.pokecard__stat__name {
    font-size: 0.7rem;
    font-weight: 300;
    text-transform: uppercase;
}

.pokecard__stat__value {
    font-weight: 500;
    font-size: 1rem;
}

.fire {

    background: linear-gradient(181deg, #cd3a05 24.28%, #E35825 74.77%, #E8AE1B 100%);
}

.grass {

    background: linear-gradient(181deg, #7EC6C5 24.28%, #ABDAC6 74.77%, #CAE099 100%);

}

.water {

    background: linear-gradient(181deg, #133258 24.28%, #1479FB 74.77%, #82B2F1 100%);

}

.bug {

    background: linear-gradient(181deg, #62DB60 24.28%, #3BB039 74.77%, #AAFFA8 100%);

}

.normal {

    background: linear-gradient(181deg, #735259 24.28%, #BC6B7C 74.77%, #7C3F4C 100%);
}
.fighting {
    		
    background: linear-gradient(181deg, #BF9230 24.28%, #A67100 74.77%, #FFC340 100%);
}
.electric {
    		
    background: linear-gradient(181deg, #BF3030 24.28%, #A60000 74.77%, #FF4040 100%);
}
.ground {
    		
    background: linear-gradient(181deg, #85d932 24.28%, #1b5f28 74.77%, #0cdd5c 100%);
}
	
.rock {
    		
    background: linear-gradient(181deg, #bbbb31 24.28%, #c9a410 74.77%, #e6710a 100%);
}
.ghost {
    		
    background: linear-gradient(181deg, #2c9191 24.28%, #0c5458 74.77%, #0edcef 100%);
}
.steel {
    		
    background: linear-gradient(181deg, #ca4372 24.28%, #81051e 74.77%, #ef0e7f 100%);
}
.psychic {
    		
    background: linear-gradient(181deg, #2e2c26 24.28%, #807969 74.77%, #d3c4b0 100%);
}
.fire-border {

    border-color:  #cd3a05  ;

}

.fire-color {

    color: #E35825;

}
.grass-border {

    border-color: #7EC6C5;

}

.grass-color {

    color: #7EC6C5;

}

.water-border {

    border-color:  #133258;

}

.water-color {

    color:#1055beee  ;

}
.bug-border {

    border-color: #62DB60;

}

.bug-color {

    color: #3BB039;

}
.normal-border {

    border-color: #735259 ;

}

.normal-color {

    color: #735259 ;

}
.fighting-border {

    border-color: #BF9230 ;

}

.fighting-color {

    color: #BF9230 ;

}

.electric-border {

    border-color: #BF3030 ;

}

.electric-color {

    color: #BF3030 ;

}
.ground-border {

    border-color: #85d932 ;

}

.ground-color {

    color: #1b5f28 ;

}
.rock-border {

    border-color: #bbbb31 ;

}

.rock-color {

    color: #838b10 ;

}
.ghost-border {

    border-color: #2c9191;

}

.ghost-color {

    color: #0c5458 ;

}
.steel-border {

    border-color: #ca4372;

}

.steel-color {

    color: #cc445f  ;

}
.psychic-border {

    border-color: #2e2c26 ;

}

.psychic-color {

    color:  #c38e12 ;

}


.container__header{
    
    display: flex;
    margin-top: 1em;
   
   flex-direction: column;
   
        margin-left: 25%;
 
    

}
.container__welcome{
    width: 100%;
    margin-right: 1em;
    margin-bottom: 1em;
}
.container__name{
    color: rgb(66, 125, 128);
    font-weight: 1000;
    font-size: 22px;
}
.container__form{
 
   
    
}
.container__input{
    height: 25px;
    width: 70%;
    max-width: 400px;

    
    
    border-width: 0.5px;
    border-color:  #3BB039;
    box-shadow: 1px 1px 1px gray;
    
}
.container__button{
    
    height: 25px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgb(66, 125, 128);
    
    background: rgb(66, 125, 128);
    color: white;
}
.SelectType{
    display: inline-block;
    right: 0;
    margin-bottom: 20px;
    margin-top: 15px;
    box-shadow: 1px 1px 1px rgb(66, 125, 128);
    
    border-color: rgb(66, 125, 128);
    outline: 0 ;

}

.SelectType::-webkit-scrollbar-button:increment,.SelectType::-webkit-scrollbar-button {
    display: none;
}
.select__option__one{
    background-color: rgb(66, 125, 128);
    color: white;
}
.select__option__two{
    background-color:rgb(66, 125, 128);
    color: white;
}

.pagination{
    
    max-width: 39px;
    display: flex;
   
    
    cursor: pointer;
    background-color: white;
}
.pagination__btn{
    width: 30px;
    background-color: white;
    cursor: pointer;

}
.previous{
    max-width: max-content;
    background-color: white;
    cursor: pointer;
}
@media screen and (max-width:1000px) {
    .container__header{
        flex-direction: column;
        margin-left: 25%;
    }
    .container__form{
       
        margin-top: 1em;
       
    }
    .SelectType{
        width: 150px;
    }
}
@media screen and (max-width:480px) {
    .container__header{
        margin-right: 0.5em;
        
    }
    .container__header{
        
        margin-left: 2%;
    }
    .container__input{
        
        
    }
}